.Rproj.user
.Rhistory
.RData
.Ruserdata
*fastq.gz
*fasta.gz
*.fasta
*fasta.tar
./references/GCA_013283005.1_ASM1328300v1_genomic-AKCSL2051-LS21.gbff
./references/GCA_013283005.1_ASM1328300v1_genomic.gbff
./references/genome_assemblies_genome_fasta-AKCSL2051-LS21.tar
./references/genome_assemblies_genome_fasta.tar
./references/ncbi-genomes-2021-12-22/GCA_013283005.1_ASM1328300v1_genomic.fna.gz
./references/P.platypus.gene_blastx_1e5.tab
./references/P.platypus.genome_blastx.tab
./references/Paralithodes.camtschaticus.genome.fasta.gz
./references/Paralithodes.camtschaticus_genes_blastx.tab
./references/Paralithodes_platypus_genome.fasta
./references/Paralithodes_platypus_genome.fasta-AKCSL2051-LS21.gz
./references/Paralithodes_platypus_genome.fasta.gz
./results/bowtie/Tank_10_Crab_1.sorted-AKCSL2051-LS21.bam
./results/bowtie/Tank_10_Crab_1.sorted.bam
./results/cutadapt/Tank_9_Crab_4.trimmed.R1.v2.fastq.gz
./results/cutadapt/Tank_9_Crab_4.trimmed.R2.v2.fastq.gz
./results/genotype/rkc_rnaseq_genotypes-filtered-true.vcf.gz
./results/genotype/rkc_rnaseq_genotypes-filtered.vcf-AKCSL2051-LS21.gz
./results/genotype/rkc_rnaseq_genotypes-filtered.vcf.gz
./results/genotype/rkc_rnaseq_genotypes.vcf.gz
./results/star/rkc_rnaseq_genotypes-filtered-true.vcf.gz
./results/wgcna/dissTom-bowtie
./results/wgcna/dissTom-star
./results/wgcna/dissTom-star-multimap
./results/wgcna/dissTom-star-multimap-AKCSL2051-LS21
./results/wgcna/dissTom-star-rsem
./results/wgcna/dissTom-star-rsem-AKCSL2051-LS21
./results/wgcna/geneInfo.csv
